.page-numbers{
    padding: 0.5rem 0.75rem;
    border: 1px solid #929292;
    border-radius: 5px;
    margin: 0.3rem;
    text-decoration: none;
    color: #0E559D;
}

.page-numbers.current{
    color: white;
    background-color: #0E559D;
    border: 1px solid #0E559D;
}

.parent-div{
    overflow: hidden;
    position: relative;
}

.parent-div img{
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.parent-div:hover img {
    transform: scale(1.10);
}

.blog-text{
    background: white;
    position: relative;
    z-index: 2;
}
